# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse / VSCode / IntelliJ IDEA files
*.iml
.idea/
.vscode/
*.iws
*.ipr
*.class
*.project
*.classpath
out/
bin/

# Gitpod specific files (optional)
.gitpod/

# MacOS files
.DS_Store

# Java scratch files
*.swp
*~

# Maven / Gradle / build tools
target/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
